body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 98%; */
    /* height: 80vh; */
    /* background-color: #1F1F1F; */
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1px;
    height: 50vh;
}

.el {
    position: absolute;
    opacity: 1;
    width: 2px;
    height: 15vh;
    margin-top: -15vh;
    transform-origin: 50% 100%;
    background: white;
}

.red {
    background-color: #DC4040;
}

.green {
    background-color: #18A01D;
}

.myshadow {
    /* box-shadow: 0 1rem 3rem #FFFFFF2d !important;
    height: 80%;
    background-color: #1B1B1B; */
}

#changeColor {
    /* margin-top: 6vh; */
}

.row-1 {
    height: 50vh;
}

.row-2 {
    height: 30vh;
}

.row-3 {
    height: 19vh;
}

.navb {
    font-size:calc(35px + 4vh);
    /* font-size:min(200px, 10vw); */
    margin-bottom: 1vh;
    margin-top: 0;
}

.text-active {
    color: #3458A5;
}
