body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 98%; */
    /* height: 80vh; */
    /* background-color: #1F1F1F; */
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1px;
    height: 50vh;
}

.el {
    position: absolute;
    opacity: 1;
    width: 2px;
    height: 25vw;
    max-height: 130px;
    margin-top: -20vh;
    transform-origin: 50% 100%;
    background: white;
}

.red {
    background-color: #DC4040;
}

.green {
    background-color: #18A01D;
}

.myshadow {
    /* box-shadow: 0 1rem 3rem #FFFFFF2d !important;
    height: 80%;
    background-color: #1B1B1B; */
}

#changeColor {
    /* margin-top: 6vh; */
}

.row-0 {
    height: 8vh;
}

.row-1 {
    height: 40vh;
}

.row-2 {
    height: 30vh;
}

.row-3 {
    height: 18vh;
}

.navb {
    font-size:calc(35px + 4vh);
    /* font-size:min(200px, 10vw); */
    margin-bottom: 1vh;
    margin-top: 0;
}

.navt {
    font-size: 2em;
}

.text-active {
    color: #3458A5;
}

.mycontainer {
    width: 100%;
    max-width: 600px;
    min-height: -webkit-fill-available;
    padding: 20px;
}

#backButton i {
    font-size: 2em;
}

.captcha-holder {
    background-color: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    padding: 1em;
}